*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
}
.navbar img{
    float: left;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.navbar h2{
    float: left;
    margin-left: 10px;
    margin-top: 28px;
    margin-right: 350px;
}
.nav-link:hover{
    color:hsl(0, 100%, 50%);
}
.cardboarder{
    float: left;
    margin: 100px 50px;
    height: 40vh;
    padding: 25px;
    border-radius: 10%;
    color: black;
    border: darkblue 5px solid;
    box-shadow: 10px 10px 10px;
    width: 22rem;
}
.mid-section{
    text-align: center;
    padding-top: 100px;
    width: 100%;
    display: block;
    height: 700px;
}
.navbar button:hover{
  background-color: transparent;
  color: blue;
}
.mid-section h1{
    color: blue;
}
.cardboarder-container{
    margin-left: 50px;
}
.cardboarder:hover{
 background-color: grey; 
 color: white;
}
.leaveMessage{
    width: 100%;
    color: #000000;
    background-color: lightgrey;
    background-size: 100% 100%;
    width: 100%;
    display: block;
    clear: both;
}
.leaveMessage h1{
    color: darkblue;
}
.about img{
  height: 500px;
  width: 60%;
}
.about h1{
  text-align: center;
  color: darkblue;
}
.about p {
  line-height: 1.7;
}
.flex-row{
  gap: 50px;
  flex-direction: row;
}
.about h1{
  color: darkblue;
}
.left, .right {

} 
.banner1 button{
    opacity: 0.9;
    margin-top: 50px;
}
.banner1 a{
    text-decoration: none;

}
.banner1 p{
    width: 40%;
    margin-left: 200px;
}
.btn2{
    margin-left: 200px;
}
.btn3{
    margin-left: 55px;
}
.btn3 a{
    color: #808080;
}
.btn3 a:hover {
    color: #ffffff;
}
.btn2 a:hover{
    color: #ffffff;
}
.btn1{
    border: none;  
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    font-weight: bolder;
}

.btn1:hover{
    background-color: white;
    color: black;
    border: 1px solid;
}
.card img{
    height: 75px;
    width: 75px;
    align-self: center;
    margin-top: 35px;
    margin-bottom: 30px;
}
footer{
  clear: both;
}
footer a{
    text-decoration: none;
}
.banner1 h1{
    padding-top: 350px;
    color: white;
    font-weight: bolder;
    font-size: 55px;
    opacity: 0.9;
    margin-left: 200px;
    width: 40%;
}
.banner1 p{
    opacity: 0.9;
    margin-left: 200px;
    width: 40%;
}
.banner1{
    color: white;
    height: 90vh;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Assets/img/ship01.jpg); 
    
}
.banner1 button{
  opacity: 0.9;
}
.banner1::before{
 content: "";
 position: absolute;
 width: 100%;
 height: 90%;
 background-color: rgba(00, 00, 00, 0.8);   
}
.banner2 h1{
  text-align: center;
  padding-top: 350px;
  color: white;
  font-weight: bolder;
  font-size: 55px;
  opacity: 0.9;
}
.banner2 p{
  opacity: 0.9;
}
.banner2{
  color: white;
  height: 90vh;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url(Assets/img/ship10.jpg);
}
.banner2::before{
content: "";
position: absolute;
width: 100%;
height: 90%;
background-color: rgba(00, 00, 00, 0.8);   
}
.banner3 h1{
  text-align: center;
  padding-top: 350px;
  color: white;
  font-weight: bolder;
  font-size: 55px;
  opacity: 0.9;
}
.banner3 p{
  opacity: 0.9;
}
.banner3{
  color: white;
  height: 90vh;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url(Assets/img/truck07.jpg)
}
.banner3::before{
content: "";
position: absolute;
width: 100%;
height: 90%;
background-color: rgba(00, 00, 00, 0.8);   
}
.banner4 h1{
  text-align: center;
  padding-top: 350px;
  color: white;
  font-weight: bolder;
  font-size: 55px;
  opacity: 0.9;
}
.banner4 p{
  opacity: 0.9;
}
.banner4{
  color: white;
  height: 90vh;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url(Assets/img/ship04.jpg)
}
.banner4::before{
content: "";
position: absolute;
width: 100%;
height: 90%;
background-color: rgba(00, 00, 00, 0.8);   
}
.sub-title{
    color: navy;
    margin-bottom: 25px;
}
.form-group {
    margin-bottom: 1rem;
  }
  
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
  }
  
.form-row > .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  
label {
    margin-bottom: 0.5rem;
  }
  @media only screen and ( max-width: 600px ) {
    .about img{
      width: 100%;
      height: 200px;
    }
      .about h2{
        text-align: center;
      }
      .about p {
        line-height: 1.7;
      }
      .flex-row{
        gap: 50px;
        flex-direction: column ;
      }
      .left, .right {
        flex: 1;
      }
      .banner1 h1 {
        margin-top: 100px;
        margin-left: 50px;
        padding-top: 150px;
        font-size: 40px;
        width: 50%;
        text-align: left;
      }
      .banner1 p{
        width: 70%;
        margin-left: 50px;
        opacity: 0.9;
      }
      .banner1 button{
        opacity: 0.9;
      }
      .banner2{
        height: 250px;
      }
      .banner2::before{
        height: 250px;
      }
      .banner3{
        height: 250px;
      }
      .banner3::before{
        height: 250px;
      }
      .banner4{
        height: 250px;
      }
      .banner4::before{
        height: 250px;
      }
      .banner4 h1{
        margin-top: 0px;
      }
       .left,
        .flew-row {
          width: 100%;
        }
        .navbar img{
          width: 50px;
          height: 50px;
          float: left;
          margin-left: 25px;
        }
        .navbar h2 {
          float: left;
          margin: 0;
          margin-top: 35px;
        }
        .btn2{
          clear: left;
          margin: 0;
        }
        .btn3{
          clear: left;
          margin: 0;
        }
        .cardboarder-container {
          margin-left: 0px;
        }
        .cardboarder{
          width: 250px;
          height: 300px;
          margin-top: 0px;
        }
        .cardboarder img {
          height: 50px;
          width: 50px;
          margin: 0px;
        }
       }