*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
}
.navbar img{
    float: left;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.navbar h2{
    float: left;
    margin-left: 10px;
    margin-top: 28px;
    margin-right: 350px;
}
.nav-link:hover{
    color:hsl(0, 100%, 50%);
}
.cardboarder{
    float: left;
    margin: 100px 50px;
    height: 40vh;
    padding: 25px;
    border-radius: 10%;
    color: black;
    border: darkblue 5px solid;
    box-shadow: 10px 10px 10px;
}
.mid-section{
    text-align: center;
    padding-top: 100px;
    width: 100%;
    display: block;
    height: 700px;
}
.mid-section h1{
    color: blue;
}
.cardboarder-container{
    margin-left: 50px;
}
.cardboarder:hover{
 background-color: grey; 
 color: white;
}
.leaveMessage{
    width: 100%;
    color: #000000;
    background-color: slategrey;
    background-image: url(Assets/img/ship02.jpg);
    background-size: 100% 100%;
    width: 100%;
    display: block;
}
.leaveMessage h1{
    color: darkblue;
}
.btn1{
    border: none;  
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    font-weight: bolder;
}

.btn1:hover{
    background-color: white;
    color: black;
    border: 1px solid;
}
.card img{
    height: 75px;
    width: 75px;
    align-self: center;
    margin-top: 35px;
    margin-bottom: 30px;
}
footer a{
    text-decoration: none;
}
.banner h1{
    text-align: center;
    padding-top: 350px;
    color: white;
    font-weight: bolder;
    font-size: 55px;
    opacity: 0.9;
}
.banner p{
    opacity: 0.9;
}
.banner{
    background-color: rgba(00, 00, 00, 0.7);
    color: white;
    
}
.banner::before{
 content: "";
 position: absolute;
 width: 100%;
 height: 90%;
 background-color: rgba(00, 00, 00, 0.8);   
}
.sub-title{
    color: navy;
    margin-bottom: 25px;
}
.form-group {
    margin-bottom: 1rem;
  }
  
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  .form-row > .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  
label {
    margin-bottom: 0.5rem;
  }